jade/index.jade
extends layout

append config
	- var pageTitle = "IguanaFix challenge | Home Page"

//-block append stylesheets
	link( href="../css/home.css", rel="stylesheet", type="text/css" )

block content
	#page-heading
		h2 Trabajos finalizados
		hr

	.container
		.row
			.col-md-12
				p.lead Desde este panel podés contratar todos los servicios que necesitás para tu empresa, navegar por las categorias o usar el buscador.

				.table-responsive
					table.table
						thead
							tr.active
								th Código del trabajo
								th Sucrusal
								th Tipo de trabajo
								th Fecha de realización

						tbody
							tr
								td
									i.fa.fa-times-circle  
									|  Cod. CF699
								td Acoyte
								td Visita y presupuesto de refacción
								td 15/01/2017

							tr.active
								td
									i.fa.fa-times-circle  
									|  Cod. CF699
								td Acoyte
								td Visita y presupuesto de refacción
								td 15/01/2017

				a.fancy-button.bg-gradient2.pull-right(href="#", data-toggle="modal", data-target="#myModal")
					span
						i.fa.fa-plus

			//- Modal
			.modal.fade#myModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
				.modal-dialog(role="document")
					.modal-content
						.modal-header
							button( type="button" data-dismiss="modal" aria-label="Close").close
								span(aria-hidden="true") &times;
							h4.modal-title#myModalLabel Modal title

						.modal-body
							form
								.form-group
									label(for="exampleInputEmail1") Email address
									input(type="email", placeholder="Email").form-control#exampleInputEmail1

								.form-group
									label(for="exampleInputPassword1") Password
									input(type="password",placeholder="Password").form-control#exampleInputPassword1
								
								.form-group
									label(for="exampleInputFile") File input
									input(type="file")#exampleInputFile
									p.help-block Example block-level help text here.

								.checkbox
									<label><input type="checkbox" /> Check me out </label>

								button(type="submit").btn.btn-default Submit

						.modal-footer
							button(type="button", data-dismiss="modal").btn.btn-default Close
							button(type="button").btn.btn-primary Save changes

index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IguanaFix challenge | Home Page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lorem ipsum dolor ait amet">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet" type="text/css">
    <link href="css/default-dist.css" rel="stylesheet" type="text/css">
    <link href="css/main-dist.css" rel="stylesheet" type="text/css">
    <link href="fonts/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header role="banner" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header pull-left"><a href="#" class="navbar-brand">IguanaFix</a></div><a id="leftmenu-trigger" data-toggle="tooltip" data-placement="right" title="" data-original-title="Cambiar barra lateral" class="tooltips"></a>
      <ul class="nav navbar-nav pull-right toolbar">
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle username"><span class="hidden-xs">Gabriel Iguana <i class="fa fa-caret-down"> </i></span><img src="images/profile.jpg" alt="Gabriel Iguana"></a>
          <ul class="dropdown-menu userinfo arrow">
            <li class="username"><a href="#">
                <div class="pull-left"><img src="images/profile.jpg" alt="Gabriel Iguana"></div>
                <div class="pull-right">
                  <h5>Hola, Gabriel!<small>Logueado como <span>gabocles</span></small></h5>
                </div></a></li>
            <li class="userlinks">
              <ul class="dropdown-menu">
                <li><a href="#">Editar perfil<i class="pull-right fa fa-pencil"></i></a></li>
                <li><a href="#">Mi cuenta<i class="pull-right fa fa-cog"></i></a></li>
                <li><a href="#">Ayuda<i class="pull-right fa fa-question-circle"></i></a></li>
                <li class="divider"></li>
                <li><a href="#" class="text-right">Desconectarse</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="hasnotifications dropdown-toggle"><i class="fa fa-bell"></i><span class="badge">3</span></a>
          <ul class="dropdown-menu notifications arrow">
            <li class="dd-header"><span>3 notificaciones nuevas.</span><span><a href="#">Marcar todas vistas</a></span></li>
            <div style="overflow-y: hidden; outline: none;" tabindex="5006" class="scrollthis">
              <li><a href="#" class="notification-user active"><span class="time">4 mins</span><i class="fa fa-user"></i><span class="msg">Nuevo usuario registrado.</span></a></li>
              <li><a href="#" class="notification-danger active"><span class="time">20 mins</span><i class="fa fa-bolt"></i><span class="msg">CPU al 92% en server#3!</span></a></li>
              <li><a href="#" class="notification-success active"><span class="time">1 hr</span><i class="fa fa-check"></i><span class="msg">Server#1 activo.</span></a></li>
              <li><a href="#" class="notification-warning"><span class="time">2 hrs</span><i class="fa fa-exclamation-triangle"></i><span class="msg">Base de datos sobrecargada.</span></a></li>
              <li><a href="#" class="notification-order"><span class="time">10 hrs</span><i class="fa fa-shopping-cart"></i><span class="msg">Nueva orden recibida.</span></a></li>
              <li><a href="#" class="notification-failure"><span class="time">12 hrs</span><i class="fa fa-times-circle"></i><span class="msg">Error de aplicación</span></a></li>
              <li><a href="#" class="notification-fix"><span class="time">12 hrs</span><i class="fa fa-wrench"></i><span class="msg">Instalación exitosa</span></a></li>
              <li><a href="#" class="notification-success"><span class="time">18 hrs</span><i class="fa fa-check"></i><span class="msg">Cuenta creada.</span></a></li>
            </div>
            <li class="dd-footer"><a href="#">Ver todas las notificaciones</a></li>
          </ul>
        </li>
        <li class="search-form">
          <form>
            <input type="search" placeholder="Buscar">
          </form>
        </li>
      </ul>
    </header>
    
    <div id="page-container">
      <nav id="page-leftbar" role="navigation">
        <ul id="sidebar" class="acc-menu">
          <li><a href="#"><i class="fa fa-home"></i><span> Inicio</span></a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="fa fa-suitcase"></i><span> Trabajos en proceso</span></a></li>
          <li class="divider"></li>
          <li class="active"><a href="#"><i class="fa fa-check"></i><span> Trabajos finalizados</span></a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="fa fa-line-chart"></i><span> Estadísticas</span></a></li>
          <li class="divider"></li>
        </ul>
      </nav>
      <div id="page-content">
        <div id="wrap">
          <div id="page-heading">
            <h2>Trabajos finalizados</h2>
            <hr>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p class="lead">Desde este panel podés contratar todos los servicios que necesitás para tu empresa, navegar por las categorias o usar el buscador.</p>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr class="active">
                        <th>Código del trabajo</th>
                        <th>Sucrusal</th>
                        <th>Tipo de trabajo</th>
                        <th>Fecha de realización</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><i class="fa fa-times-circle"> </i> Cod. CF699</td>
                        <td>Acoyte</td>
                        <td>Visita y presupuesto de refacción</td>
                        <td>15/01/2017</td>
                      </tr>
                      <tr class="active">
                        <td><i class="fa fa-times-circle"> </i> Cod. CF699</td>
                        <td>Acoyte</td>
                        <td>Visita y presupuesto de refacción</td>
                        <td>15/01/2017</td>
                      </tr>
                    </tbody>
                  </table>
                </div><a href="#" data-toggle="modal" data-target="#myModal" class="fancy-button bg-gradient2 pull-right"><span><i class="fa fa-plus"></i></span></a>
              </div>
              <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
                <div role="document" class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                      <h4 id="myModalLabel" class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" placeholder="Email" id="exampleInputEmail1" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" placeholder="Password" id="exampleInputPassword1" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputFile">File input</label>
                          <input type="file" id="exampleInputFile">
                          <p class="help-block">Example block-level help text here.</p>
                        </div>
                        <div class="checkbox"><label><input type="checkbox" /> Check me out </label></div>
                        <button type="submit" class="btn btn-default">Submit</button>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
          <footer class="footer">
            <div class="container igf-footer">
              <div class="row">
                <div class="col-md-4 col-xs-5 pull-left"><img src="images/logo_grande.png" alt="" class="img-responsive logo-footer"></div>
                <div class="col-md-3 col-xs-7 pull-right text-right">
                  <ul class="social social-light">
                    <li><a href="#"><i class="fa fa-2x fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-2x fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-2x fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-2x fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-2x fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-2x fa-envelope"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="container-fluid footer-bottom">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-xs-12 pull-left">
                    <ol class="list-unstyled list-inline footer-links">
                      <li>&copy; 2016 IguanaFix</li>
                      <li><a href="javascript:;">Seguridad</a></li>
                      <li><a href="javascript:;">Términos y condiciones</a></li>
                      <li><a href="javascript:;">Términos para profesionales</a></li>
                      <li><a href="javascript:;">Privacidad</a></li>
                    </ol>
                  </div>
                  <div class="col-md-4 pull-right">
                    <ol class="list-unstyled list-inline apps pull-right">
                      <li><a href="javascript:;"><img src="images/googleplay_es.png" alt="" class="img-responsive"></a></li>
                      <li><a href="javascript:;"><img src="images/appstore_es.png" alt="" class="img-responsive"></a></li>
                      <li><a href="javascript:;"><img src="images/DATAWEB.jpg" alt="" class="img-responsive dataweb"></a></li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </footer>
          
        </div>
        <script src="javascripts/vendors/jquery-1.10.2.min.js"></script>
        <script src="javascripts/vendors/bootstrap/bootstrap.min.js"></script>
        <script src="javascripts/vendors/enquire.js"></script>
        <script src="javascripts/vendors/jquery.cookie.js"></script>
        <script src="javascripts/vendors/jquery.nicescroll.min.js"></script>
        <script src="javascripts/demo-challenge.js"></script>
      </div>
    </div>
  </body>
</html>
